@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


.navbar-fixed {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  z-index: 9999 !important;
  width: 100vw !important;
}


@font-face {
  font-family: 'Arimo';
  src: url('/fonts/Arimo-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'SF Pro Display';
  src: url('/fonts/SFPRODISPLAYMEDIUM.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('/fonts/SFPRODISPLAYBOLD.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

.sf-heading {
  font-family: 'SF Pro Display', sans-serif;
  font-weight: 700;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'SF Pro Display', sans-serif;
  font-weight: 700; 
}

body {
  color: var(--foreground);
  background: var(--background);
   font-family: 'Arimo', sans-serif;
}
